@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@400;
500;
600&display=swap);
 @font-face{
    font-family:"Excalibur-Monospace";
    font-display:swap;
    src:url(/excalib.ttf) format("truetype")
}
@font-face{
    font-family:Ventura-Bold;
    font-display:swap;
    src:url(/Ventura-Bold.ttf) format("truetype")
}
@font-face{
    font-family:ProximaNova-Regular;
    font-display:swap;
    src:url(/ProximaNova-Regular.eot);
    src:url(/ProximaNova-Regular.eot?#iefix) format("embedded-opentype"),url(/ProximaNova-Regular.woff) format("woff"),url(/ProximaNova-Regular.ttf) format("truetype")
}
@font-face{
    font-family:ProximaNova-Bold;
    font-display:swap;
    src:url(/ProximaNova-Bold.eot);
    src:url(/ProximaNova-Bold.eot?#iefix) format("embedded-opentype"),url(/ProximaNova-Bold.woff) format("woff"),url(/ProximaNova-Bold.ttf) format("truetype")
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline
}
a:active,a:hover{
    outline:0
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:400
}
html{
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
:focus{
    outline:0
}
audio,img,video{
    max-width:100%;
    height:auto
}
audio,canvas,iframe,img,svg,video{
    vertical-align:middle
}
iframe{
    border:0
}
textarea{
    resize:none;
    overflow:auto;
    vertical-align:top;
    box-shadow:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none
}
button,input,select,textarea{
    outline:none;
    border:none;
    font-size:100%;
    margin:0
}
button,input{
    line-height:normal
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0;
    text-align:left
}
.btn{
    background-color:#71a894;
    color:#fff;
    display:inline-block;
    border-radius:8px;
    padding:20px 24px;
    font-size:18px;
    font-weight:700;
    border:0;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
    -webkit-transition:background .2s ease 0s,-webkit-transform .2s ease 0s;
    transition:background .2s ease 0s,-webkit-transform .2s ease 0s;
    -o-transition:transform .2s ease 0s,background .2s ease 0s;
    transition:transform .2s ease 0s,background .2s ease 0s;
    transition:transform .2s ease 0s,background .2s ease 0s,-webkit-transform .2s ease 0s
}
.btn_secondary{
    width:100%;
    max-width:404px;
    background:#303031;
    padding:12px 60px;
    text-align:center
}
.btn_green,.btn_secondary{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.btn_green{
    border-radius:40px;
    padding:4px 8px;
    background-color:#71a894;
    color:#fff;
    font-size:16px;
    line-height:24px
}
.btn_balck-btn{
    display:block;
    margin:0;
    max-width:192px;
    min-height:44px;
    padding:12px 40px;
    background-color:#303031;
    border-radius:16px;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-size:14px;
    line-height:20px
}
.btn_black{
    display:inline-block;
    background-color:#000;
    border-radius:8px;
    padding:20px 24px;
    font-size:18px;
    font-weight:700;
    line-height:1;
    border:0;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-transition:background .2s ease 0s,-webkit-transform .2s ease 0s;
    transition:background .2s ease 0s,-webkit-transform .2s ease 0s;
    -o-transition:transform .2s ease 0s,background .2s ease 0s;
    transition:transform .2s ease 0s,background .2s ease 0s;
    transition:transform .2s ease 0s,background .2s ease 0s,-webkit-transform .2s ease 0s
}
.btn:hover{
    -webkit-transform:translateY(-2px);
    -ms-transform:translateY(-2px);
    transform:translateY(-2px);
    text-decoration:none
}
.header{
    position:relative;
    min-height:120px;
    padding:0 56px
}
.header__wrapper{
    padding-top:40px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.header__logo{
    font-size:35px
}
.header__list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.header__list li{
    position:relative;
    margin-right:40px;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-weight:500;
    font-size:20px;
    line-height:24px
}
.header__list li a{
    color:#131314;
    text-shadow:0 0 1px hsla(0,0%,100%,.3)
}
.header__list li a:after{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    height:1px;
    background:#fff;
    content:"";
    opacity:0;
    -webkit-transition:height .3s,opacity .3s,-webkit-transform .3s;
    transition:height .3s,opacity .3s,-webkit-transform .3s;
    -o-transition:height .3s,opacity .3s,transform .3s;
    transition:height .3s,opacity .3s,transform .3s;
    transition:height .3s,opacity .3s,transform .3s,-webkit-transform .3s;
    -webkit-transform:translateY(-10px);
    -ms-transform:translateY(-10px);
    transform:translateY(-10px)
}
.header__list li a:hover{
    position:relative;
    display:inline-block;
    outline:none;
    text-decoration:none
}
.header__list li a:hover:after{
    height:3px;
    opacity:1;
    background-color:#303031;
    -webkit-transform:translateY(0);
    -ms-transform:translateY(0);
    transform:translateY(0)
}
.header__list li:last-child{
    margin-right:0
}
.header .primary-color{
    color:#71a894;
    font-weight:700
}
@media(max-width:1280px){
    .header__list{
        display:none
    }
}
@media(max-width:768px){
    .header{
        min-height:60px
    }
    .header__btns{
        display:none
    }
}
@media(max-width:480px){
    .header{
        padding:0 56px 0 0
    }
}
.hamburger{
    position:absolute;
    top:50px;
    right:30px;
    height:21px;
    display:none;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:end;
    -ms-flex-align:end;
    align-items:flex-end;
    cursor:pointer
}
.hamburger span{
    display:block;
    width:30px;
    height:3px;
    background-color:#151812
}
.hamburger span.long{
    width:36px
}
.menu{
    position:fixed;
    top:0;
    left:-100%;
    width:100%;
    height:100vh;
    z-index:10;
    visibility:hidden;
    opacity:0;
    -webkit-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s
}
.menu.active{
    left:0;
    visibility:visible;
    opacity:1
}
.menu__block{
    position:relative;
    width:345px;
    background-color:#f3f4f4;
    height:100%;
    -webkit-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s;
    padding-top:140px;
    padding-left:40px;
    padding-bottom:100px;
    z-index:10;
    overflow-y:auto
}
.menu__close{
    position:absolute;
    top:25px;
    right:25px;
    cursor:pointer
}
.menu__list{
    padding-left:35px
}
.menu__link{
    position:relative;
    font-weight:700;
    font-size:24px;
    line-height:36px;
    margin-bottom:15px
}
.menu__link:before{
    content:"";
    position:absolute;
    left:-35px;
    top:10px;
    border-radius:100%;
    width:15px;
    height:15px;
    border:1px solid #000;
    -webkit-transition:all .6s;
    -o-transition:all .6s;
    transition:all .6s
}
.menu__link:hover:before{
    background-color:#000
}
.menu__link a{
    color:#101010
}
.menu__social{
    position:absolute;
    bottom:50px;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    width:90px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.menu__overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#fff;
    opacity:.75
}
.menu__btns{
    margin-top:32px;
    font-size:14px
}
.menu .btn-links{
    width:112px;
    height:40px;
    padding-right:33px;
    cursor:pointer
}
@media(max-width:1280px){
    .hamburger{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex
    }
}
@media(max-width:480px){
    .hamburger{
        top:54px
    }
}
.title{
    font-size:43px;
    line-height:64px;
    font-weight:500;
    color:#303031;
    font-family:Quicksand,sans-serif
}
.title_card{
    font-size:24px;
    line-height:32px;
    text-align:center;
    font-family:ProximaNova-Bold,Helvetica,Arial,sans-serif
}
.title_promo{
    font-size:64px;
    line-height:80px;
    font-family:Quicksand,sans-serif
}
.title_width650{
    max-width:650px
}
.title_center{
    text-align:center
}
.title_bottom-promo{
    font-size:46px
}
.subtitle{
    display:block;
    font-size:18px;
    line-height:26px;
    font-weight:400;
    font-family:ProximaNova-Regular,Helvetica,Arial,sans-serif;
    color:#303031;
    text-align:center;
    max-width:900px;
    margin:0 auto
}
.subtitle_left{
    text-align:left;
    margin:0;
    max-width:644px
}
.promo{
    min-height:780px;
    padding:0
}
.promo__wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center
}
.promo__content{
    max-width:624px;
    margin-top:154px
}
.promo__subtitle{
    margin-top:24px;
    font-size:24px;
    line-height:32px;
    color:#66645e
}
.promo__img{
    margin-top:100px;
    display:block;
    width:100%;
    height:auto;
    -o-object-fit:cover;
    object-fit:cover
}
.promo__btns-left{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:left;
    -ms-flex-pack:left;
    justify-content:left;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-top:40px
}
.promo .mouse-down{
    position:absolute;
    bottom:0;
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
    cursor:pointer
}
.promo .mouse-down img{
    display:block;
    margin:0 auto;
    -webkit-animation:sdb10 2s infinite;
    animation:sdb10 2s infinite
}
.promo .mouse-down p{
    margin-top:24px;
    color:#66645e;
    font-size:14px;
    line-height:17px;
    text-align:center
}
@-webkit-keyframes sdb10{
    0%{
        -webkit-transform:translate(0);
        opacity:0
    }
    40%{
        opacity:1
    }
    80%{
        -webkit-transform:translateY(20px);
        opacity:0
    }
    to{
        opacity:0
    }
}
@keyframes sdb10{
    0%{
        -webkit-transform:translate(0);
        transform:translate(0);
        opacity:0
    }
    40%{
        opacity:1
    }
    80%{
        -webkit-transform:translateY(20px);
        transform:translateY(20px);
        opacity:0
    }
    to{
        opacity:0
    }
}
@media(max-width:1280px){
    .promo .title{
        font-size:58px
    }
}
@media(max-width:1024px){
    .promo .title{
        text-align:center
    }
    .promo__content{
        margin:32px auto 0
    }
    .promo__subtitle{
        text-align:center
    }
    .promo__btns-left,.promo__wrapper{
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .promo__wrapper{
        grid-template-columns:1fr;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center
    }
    .promo__img{
        padding-top:56px;
        display:block;
        max-width:720px;
        margin:0 auto
    }
}
@media(max-width:768px){
    .promo .title{
        font-size:50px;
        line-height:57px
    }
    .promo__content{
        margin-top:80px
    }
}
@media(max-width:480px){
    .promo .title{
        font-size:34px;
        line-height:41px;
        text-align:center
    }
    .promo__subtitle{
        font-size:16px;
        line-height:23px
    }
}
.work__subtitle{
    margin-top:24px
}
.work__card-wrapper{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
    margin-top:48px
}
.work__card{
    max-width:427px;
    min-height:340px;
    background:#fff;
    -webkit-box-shadow:0 2px 8px rgba(0,0,0,.1);
    box-shadow:0 2px 8px rgba(0,0,0,.1);
    border-radius:8px
}
.work__card-title{
    margin-top:24px
}
.work__inner{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    padding:64px 24px
}
.work__inner img{
    max-width:100px
}
@media(max-width:1024px){
    .work__card-wrapper{
        grid-template-columns:1fr;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .work__card{
        max-width:100%
    }
}
@media(max-width:640px){
    .work .title{
        font-size:36px;
        line-height:43px
    }
}
.kickstart__wrapper{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:120px;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.kickstart__title{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-size:32px;
    line-height:40px;
    font-weight:700
}
.kickstart__block-content{
    padding:0 20px
}
.kickstart__avatar-card{
    margin-top:12px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.kickstart__avatar-img{
    margin-right:16px
}
.kickstart__avatar-img img{
    display:block;
    width:100%;
    border-radius:50%;
    max-width:120px
}
.kickstart .c-img,.kickstart .go-img{
    max-width:50px;
    border-radius:0
}
.kickstart .c-img{
    margin-right:0;
    margin-left:0
}
.kickstart .react-img{
    border-radius:0
}
.kickstart__avatar-content h4{
    font-weight:700;
    font-size:24px
}
.kickstart__avatar-content h4,.kickstart__avatar-content span{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    line-height:26px
}
.kickstart__avatar-content span{
    display:block;
    color:#66645e;
    font-size:16px
}
.kickstart__block-subtitle,.kickstart__block-title{
    margin-top:24px
}
.kickstart__block-avatar{
    position:relative;
    max-width:484px;
    min-height:400px;
    background:#fff;
    border-radius:16px;
    border:4px solid #303031;
    padding:32px 40px;
    z-index:2;
    -webkit-box-shadow:15px 15px 0 5px #71a894;
    box-shadow:15px 15px 0 5px #71a894
}
.kickstart__message{
    margin-top:24px
}
.kickstart__message p{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-size:16px;
    font-weight:500;
    line-height:24px
}
.kickstart__btns{
    margin-top:32px
}
.kickstart__commit{
    margin-top:24px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex
}
.kickstart__commit-block{
    margin-right:74px
}
.kickstart__commit-block span,.kickstart__share-block span{
    font-size:24px;
    line-height:32px;
    font-weight:700;
    display:block;
    margin-top:12px;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.kickstart__commit-block p,.kickstart__share-block p{
    color:#66645e;
    font-size:16px;
    line-height:24px;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.kickstart .box-shadow{
    -webkit-box-shadow:none;
    box-shadow:none
}
.kickstart .no-top{
    margin-top:0
}
.kickstart .side-right{
    padding:32px 40px
}
.kickstart .grid-img{
    position:relative
}
.kickstart .grid-img:after{
    position:absolute;
    content:"";
    background:url(assets/img/grid-img.png) no-repeat;
    width:298px;
    height:295px;
    left:-8%;
    bottom:-10%;
    z-index:-1
}
@media(max-width:1024px){
    .kickstart__wrapper{
        grid-template-columns:1fr;
        gap:40px
    }
    .kickstart__block-avatar{
        max-width:100%;
        -webkit-box-shadow:none;
        box-shadow:none
    }
    .kickstart__btns{
        text-align:center
    }
    .kickstart .grid-img:after{
        display:none
    }
}
@media(max-width:640px){
    .kickstart .title{
        font-size:36px;
        line-height:43px
    }
}
.engage__wrapper{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:40px;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.engage__block-avatar{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between
}
.engage__main-block{
    display:block;
    width:100%;
    max-width:644px;
    min-height:500px
}
.engage__block-top{
    display:block;
    width:100%;
    max-width:560px;
    margin:0 auto;
    background-color:#fff;
    border-radius:16px;
    border:4px solid #303031;
    padding:24px;
    -webkit-box-shadow:5px 16px 0 -9px #71a894;
    box-shadow:5px 16px 0 -9px #71a894
}
.engage__block-top p{
    max-width:404px;
    margin-top:16px;
    font-size:16px;
    line-height:24px;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.engage__inside-card{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.engage__card-title{
    font-size:18px;
    line-height:24px;
    font-weight:700;
    display:block;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.engage__applicants{
    margin-top:16px;
    width:100%;
    max-width:381px;
    background-color:#f3f0ea;
    border:4px solid #303031;
    border-radius:16px;
    padding:26px 40px
}
.engage__applicants-title h3{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-weight:700;
    font-size:24px;
    line-height:32px;
    color:#303031
}
.engage__block-name{
    margin-left:16px
}
.engage__block-name h4,.engage__block-rate{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-size:20px;
    line-height:24px
}
.engage__block-rate{
    font-style:normal;
    font-weight:500;
    vertical-align:middle;
    margin-left:8px;
    margin-top:4px
}
.engage__card-avatar{
    max-width:301px
}
.engage__avatar-img,.engage__inner{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.engage__avatar-img{
    margin-top:24px;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.engage__rate{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.engage__ux-writer{
    width:100%;
    max-width:240px;
    margin-top:40px;
    margin-left:10px;
    padding:24px;
    background-color:#fff;
    border-radius:16px;
    border:4px solid #71a894
}
.engage__ux-block{
    display:block;
    margin:0 auto;
    text-align:center
}
.engage__ux-block h4{
    margin-top:16px;
    font-style:normal;
    font-weight:700;
    font-size:20px
}
.engage__ux-block h4,.engage__ux-block span{
    display:block;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    line-height:24px
}
.engage__ux-block span{
    margin-top:4px;
    font-weight:500;
    font-size:16px;
    color:#66645e
}
.engage__ux-block img{
    display:block;
    margin:0 auto;
    width:100%;
    border-radius:50%;
    max-width:80px
}
.engage__star-rate{
    margin-top:16px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.engage__btns{
    margin-top:16px
}
.engage__commits{
    display:block;
    margin:0 auto;
    font-weight:400;
    font-size:16px;
    color:#303031
}
.engage__commits,.engage__star-ux{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-style:normal;
    line-height:24px
}
.engage__star-ux{
    font-weight:700;
    font-size:20px
}
.engage .height{
    height:100%;
    min-height:288px
}
.engage .ux-height{
    height:100%;
    min-height:290px
}
.engage .c-img{
    border-radius:0
}
.engage .c-img,.engage .go-img{
    max-width:50px;
    margin-right:0;
    margin-left:0
}
.engage .go-img{
    border-radius:50%
}
@media(max-width:1280px){
    .engage__wrapper{
        grid-template-columns:1fr;
        gap:40px
    }
    .engage__applicants,.engage__block-top,.engage__card-avatar,.engage__main-block{
        max-width:100%
    }
    .engage__btns{
        text-align:center
    }
}
@media(max-width:640px){
    .engage .title{
        font-size:36px;
        line-height:43px
    }
    .engage__block-avatar{
        -ms-flex-wrap:wrap;
        flex-wrap:wrap
    }
    .engage__ux-writer{
        margin:8px 0 0;
        max-width:100%
    }
    .engage .btn_balck-btn{
        max-width:100%
    }
}
.help .height{
    height:100%;
    min-height:240px
}
.help .min-height{
    height:90%;
    min-height:214px
}
.help__wrapper{
    display:grid;
    grid-template-columns:repeat(3,427px);
    gap:24px;
    margin-top:48px
}
.help__card{
    max-width:427px;
    background-color:#fff;
    padding:24px;
    border-radius:16px;
    -webkit-box-shadow:0 2px 8px rgba(0,0,0,.1);
    box-shadow:0 2px 8px rgba(0,0,0,.1)
}
.help__card-title{
    font-weight:700;
    font-size:18px
}
.help__card-title,.help__card-title-date{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-style:normal;
    line-height:24px;
    color:#303031
}
.help__card-title-date{
    font-weight:600;
    font-size:16px
}
.help__card-text{
    margin-top:24px;
    font-style:normal;
    font-weight:500;
    font-size:16px;
    line-height:24px;
    color:#303031
}
.help__card-text p{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.help__inside-card{
    margin-top:24px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.help__inside-card button{
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif
}
.help__button{
    margin-top:64px;
    text-align:center
}
@media(max-width:1440px){
    .help .height,.help .min-height{
        height:100%;
        min-height:180px
    }
    .help__wrapper{
        grid-template-columns:1fr
    }
    .help__card{
        max-width:100%
    }
    .help .title{
        font-size:36px;
        line-height:43px
    }
}
@media(max-width:640px){
    .help .min-height{
        height:100%;
        min-height:180px
    }
}
.start{
    margin-top:44px;
    padding:0;
    background:url(/start-top.png);
    background-repeat:repeat-x
}
.start__wrapper{
    padding-top:140px;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.start__subtitle{
    margin-top:24px;
    font-style:normal;
    font-weight:400;
    font-size:18px;
    line-height:26px
}
.start__btns-left{
    margin-top:40px
}
@media(max-width:1280px){
    .start .title{
        font-size:58px
    }
}
@media(max-width:1024px){
    .start .title{
        text-align:center
    }
    .start__content{
        margin:32px auto 0
    }
    .start__subtitle{
        text-align:center
    }
    .start__btns-left{
        text-align:center
    }
    .start__btns-left,.start__wrapper{
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .start__wrapper{
        grid-template-columns:1fr;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        padding-top:120px
    }
    .start__img{
        padding-top:56px;
        display:block;
        max-width:720px;
        margin:0 auto
    }
}
@media(max-width:768px){
    .start .title{
        font-size:50px;
        line-height:57px
    }
    .start__content{
        margin-top:80px
    }
}
@media(max-width:480px){
    .start .title{
        font-size:32px;
        line-height:40px;
        text-align:center
    }
    .start__subtitle{
        font-size:16px;
        line-height:23px
    }
    .start__wrapper{
        grid-template-columns:1fr;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center;
        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
        padding-top:50px
    }
}
.footer{
    margin-top:120px;
    position:relative;
    min-height:120px;
    padding:0 56px
}
.footer__wrapper{
    padding-top:40px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.footer__logo a{
    font-weight:700;
    font-size:24px;
    line-height:32px;
    color:#303031
}
.footer__list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center
}
.footer__list li{
    margin-right:40px;
    font-family:"Excalibur-Monospace",Helvetica,Arial,sans-serif;
    font-weight:500;
    font-size:20px;
    line-height:24px
}
.footer__list li a{
    color:#131314
}
.footer__list li a:hover{
    text-decoration:underline
}
.footer__list li:last-child{
    margin-right:0
}
.footer .primary-color{
    color:#71a894;
    font-weight:700
}
@media(max-width:768px){
    .footer{
        margin-top:24px;
        min-height:160px
    }
    .footer__wrapper{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column
    }
    .footer__list{
        margin-top:24px
    }
}
@media(max-width:640px){
    .footer__list li{
        margin-right:24px;
        font-size:16px
    }
}
@media(max-width:480px){
    .footer{
        min-height:140px
    }
    .footer__list li{
        font-size:9px;
        margin-right:15px
    }
}
html{
    line-height:1.4;
    font-size:18px;
    color:#101010;
    height:100%
}
@media screen and (max-width:1280px){
    html{
        font-size:16px
    }
}
@media screen and (max-width:768px){
    html{
        font-size:15px
    }
}
@media screen and (max-width:480px){
    html{
        font-size:14px
    }
}
body{
    margin:0;
    padding:0;
    font-family:ProximaNova-Regular,Helvetica,Arial,sans-serif;
    font-size:18px;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-color:#fff
}
*,:after,:before{
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-family:ProximaNova-Regular,sans-serif
}
h1,h2,h3,h4,h5,h6{
    margin:0
}
a{
    text-decoration:none
}
li,ul{
    margin:0;
    padding:0;
    list-style-type:none
}
.section,section{
    position:relative;
    padding:160px 0 0
}
@media screen and (max-width:1024px){
    .section,section{
        padding:100px 0 0
    }
}
@media screen and (max-width:768px){
    .section,section{
        padding:80px 0 0
    }
}
@media screen and (max-width:480px){
    .section,section{
        padding:40px 0 0
    }
}
.container{
    max-width:1328px;
    margin:0 auto;
    padding:0 20px
}
.center{
    text-align:center
}
